<main>
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Ano</td>
                <td>Opções</td>
                <td>
                    <a href="admin/carros/novo">
                        +
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let car of carsList">
                <td><a href="admin/carros/exibir/{{car.id}}">{{car.name}}</a></td>
                <td>{{car.age}}</td>
                <td class="options-box">
                    <a href="admin/carros/editar/{{car.id}}">
                        <img
                        src="../../../assets/pencil-icon.svg" 
                        alt="Ícone de um lápis para editar."
                        >
                    </a>
                    <span> | </span>
                    <a href="admin/carros/excluir/{{car.id}}">
                        <img 
                            src="../../../assets/trash-icon.svg" 
                            alt="Ícone de uma lixeira para excluír."
                        >
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>