<main>
    <form action="" class="default-form">
        <fieldset>
            <legend *ngIf = "formAction === 'cadastrar'">Novo carro:</legend>
            <legend *ngIf = "formAction === 'exibir'">Exibir Carro:</legend>
            <legend *ngIf = "formAction === 'editar'">Editar carro:</legend>
            <legend *ngIf = "formAction === 'excluir'">Excluír carro:</legend>

            <div class="details-input-box">
                <label for="">Carro:</label>
                <input type="text">
            </div>
            <br>
            <div class="details-input-box">
                <label for="">Ano:</label>
                <input type="number">
            </div>
            <br>
            <div class="details-buttons-box">
                <a href="admin/carros/">
                    <input type="button" value="Voltar">
                </a>
                <input type="submit" value="Salvar">
            </div>
        </fieldset>
    </form>
</main>