<main>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Idade</td>
                <td>Opções</td>
                <td class="add-button">
                    <a (click) = "openModal(content)">
                        +
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let person of filteredPeopleList" class="table-cell">
                <td>
                    {{person.id}}
                </td>
                <td>
                    {{person.name}}
                </td>
                <td>
                    {{person.age}}
                </td>
                <td>
                    <div class="options-box">
                        <img 
                            (click) = "openModalToEdit(content, person)"
                            src="../../../assets/pencil-icon.svg" 
                            alt="Ícone de uma lápis para editar."
                        >
                        <span>|</span>
                        <img 
                            (click) = "delete(person.id)"
                            src="../../../assets/trash-icon.svg" 
                            alt="Ícone de lata de lixo para excluír."
                        >
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-body">
            <app-persondetails
                [person] = "personToSend" 
                (return) = "reloadPersonsList($event)">
            </app-persondetails>
        </div>
    </ng-template>
</main>