<main>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Idade</td>
                <td>Opções</td>
                <td class="add-button">
                    <a (click) = "openModal(content)">
                        +
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let person of personsList" class="table-cell">
                <td *ngIf = "person.age > 30">
                    {{person.id}}
                </td>
                <td *ngIf = "person.age > 30">
                    {{person.name}}
                </td>
                <td *ngIf = "person.age > 30">
                    {{person.age}}
                </td>
                <td 
                    class="options-cell"
                    *ngIf = "person.age > 30" 
                    (click) = "openModalToEdit(content, person)">
                    <img 
                        src="../../../assets/pencil-icon.svg" 
                        alt="Ícone de uma lápis para editar."
                    >
                    <img 
                        src="../../../assets/trash-icon.svg" 
                        alt="Ícone de lata de lixo para excluír."
                    >
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-body">
            <app-persondetails
                [person] = "personToUpdate" 
                (return) = "reloadPersonsList($event)">
            </app-persondetails>
        </div>
    </ng-template>
</main>