<form (ngSubmit) = "save()" method="post">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nova pessoa:</h4>
        <button 
            type="button" 
            class="btn-close" 
            aria-label="Close" 
            (click) = "closeModalAndReloadList($event)"
        ></button>
    </div>
    <label for="name">Nome:</label> 
    <br>
    <input type="text" name="name" [(ngModel)]="person.name">
    <br>
    <label for="age">Idade:</label>
    <br>
    <input type="text" name="age" [(ngModel)]="person.age">
    <br>
    <input type="submit" value="Salvar">
</form>


<!-- <div class="details-inputs">
    <label for="name">Nome:</label> 
    <br>
    <input type="text" name="name" [(ngModel)]="person.name">
    <br>
    <label for="age">Idade:</label>
    <br>
    <input type="text" name="age" [(ngModel)]="person.age">
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click) = "post()">
        Save
    </button>
</div> -->